LightMixerApp/Service References/LightServer/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/LightMixer/RemoteLightService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LightMixer.Model.Fixture" />
  <xs:import schemaLocation="http://localhost:8088/LightMixer/RemoteLightService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LaserDisplay" />
  <xs:import schemaLocation="http://localhost:8088/LightMixer/RemoteLightService/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8088/LightMixer/RemoteLightService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LightMixer.Model.Service" />
  <xs:element name="MovingHeadProgram">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MovingHeadProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LightMixer.Model.Fixture" minOccurs="0" name="MovingHeadProgramResult" nillable="true" type="q1:ArrayOfMovingHeadFixture.Program" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovingHeadGobo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MovingHeadGoboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LightMixer.Model.Fixture" minOccurs="0" name="MovingHeadGoboResult" nillable="true" type="q2:ArrayOfMovingHeadFixture.Gobo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaserColorModeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LaserColorModeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LaserDisplay" minOccurs="0" name="LaserColorModeListResult" nillable="true" type="q3:ArrayOfColorMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LedEffectCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LedEffectCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LedEffectCollectionResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovingHeadEffectCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MovingHeadEffectCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MovingHeadEffectCollectionResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoothEffectCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BoothEffectCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BoothEffectCollectionResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaserEffectList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LaserEffectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LaserEffectListResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLaser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LightMixer.Model.Service" minOccurs="0" name="contract" nillable="true" type="q8:LaserDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLaserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaserStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaserStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LightMixer.Model.Service" minOccurs="0" name="GetLaserStatusResult" nillable="true" type="q9:LaserDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDmx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LightMixer.Model.Service" minOccurs="0" name="contract" nillable="true" type="q10:DmxDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDmxResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDmxStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDmxStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LightMixer.Model.Service" minOccurs="0" name="GetDmxStatusResult" nillable="true" type="q11:DmxDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>